* {
    box-sizing: border-box;
}

body {
    background-color: aqua;
}

.mobile {
    width: 87px;
    height: 28px;
    left: 376px;
    top: 350px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.11em;
    font-variant: small-caps;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #5572D6;

}

.title {
    width: 240px;
    height: 42px;
    left: 303px;
    top: 390px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #C5C0B9;

}

.child {
    margin: 196px 270px 196px 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 336px;
    padding-left: 85px;
    background: #FFFFFF;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}
.card{
    padding-left: 10px;
}

